<nav class="navbar navbar-default" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login-form}">Login page</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/}">Home Page</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''TRADER'')')}">
                    <a th:href="@{/orders/create}">Create an Order</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''TRADER'')')}">
                    <a th:href="@{/orders/myOrders}">My Orders</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''TRADER'')')}">
                    <a th:href="@{/agreements/trader}">My Agreements</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a th:href="@{/orders/all}">All Orders</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a th:href="@{/agreements/all}">All Agreements</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a th:href="@{/session}">Session Management</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><p class="navbar-text">Hello <span
                        sec:authentication="principal.username"></span>!</p></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn btn-default navbar-btn">LogOut</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>